/* //this is for signup page */

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/* background-image: url('https://static.vecteezy.com/system/resources/previews/002/458/719/large_2x/fresh-green-leaves-and-daisy-flower-background-free-vector.jpg'); */
/* background-image: url('https://static.vecteezy.com/system/resources/previews/001/410/432/original/pink-fluid-dynamic-abstract-background-free-vector.jpg'); */
background-image: url('images/undraw_Welcome_re_h3d9.png');
/* background-image: url('images/undraw_target_re_fi8j.svg'); */
background-size: contain;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: right;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5);
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
/* color: #FFC312; */
color:#ff44a8;
}

.social_icon span:hover{
/* color: white; */
color: lightpink;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
/* background-color: #FFC312; */
background-color:#ff44a8;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0;
box-shadow: 0 0 0 0 ;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
/* background-color: #FFC312; */
/* background-color: rgb(236, 77, 143); */
background-color:#ff44a8;
/* width: 100px; */
}

.login_btn:hover{
color: black;
border-color: lightpink;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}